*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:after, &::before
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

/* General styles and layout

$section-light:#76b900
$section-dark:#5e9400
$section-separator:#91c733
$section-text:#F1F8E9

paper-input-decorator[focused] /deep/
  .floated-label
    .label-text
      color: $section-text
  .floating-label
    .label-text
      color: $section-text

paper-input-decorator /deep/
  .unfocused-underline
    background-color: $section-text
  .focused-underline
    background-color: $section-text
  ::-webkit-input-placeholder
    color: $section-text

paper-button
  background: $section-dark
  color: $section-text

core-icon
  &[icon="assignment"]
    color: $section-light
    height: 40px
    width: 40px
  &[icon="image:filter-9-plus"]
    color: $section-dark
    height: 40px
    width: 40px
  &[icon="image:flash-on"]
    color: $section-light
    height: 40px
    width: 40px
  &[icon="image:flare"]
    color: $section-dark
    height: 40px
    width: 40px
  &[icon="settings"]
    color: $section-light
    height: 40px
    width: 40px

section#survey_general_info
  padding: 20px
  padding-bottom: 75px
  padding-top: 40px
  background: $section-light
  color: $section-text

section#survey_certification
  position: relative
  padding: 20px
  padding-bottom: 65px
  padding-top: 40px
  background: $section-dark
  color: $section-text

section#survey_power
  padding: 20px
  padding-bottom: 75px
  padding-top: 40px
  background: $section-light
  color: $section-text

section#survey_cooling
  position: relative
  padding: 20px
  padding-bottom: 65px
  padding-top: 40px
  background: $section-dark
  color: $section-text

section#survey_infrastructure
  padding: 20px
  padding-bottom: 75px
  padding-top: 40px
  background: $section-light
  color: $section-text

.container
  overflow: hidden
/* we don't want the pseudo-elements sticking out

/*** Individual section styles and separators **

/* Common style for pseudo-elements

section#survey_certification
  &::before, &::after
    position: absolute
    content: ''
    pointer-events: none


section#survey_cooling
  &::before, &::after
    position: absolute
    content: ''
    pointer-events: none

/* Triangles

.ss-style-triangles
  &::before, &::after
    left: 50%
    width: 100px
    height: 100px
    -webkit-transform: translateX(-50%) rotate(45deg)
    transform: translateX(-50%) rotate(45deg)
  &::before
    top: -50px
    background: $section-dark
  &::after
    bottom: -50px
    z-index: 10
    background: inherit
