header(ng-controller='mainCtrl')
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a.navbar-brand(href="#intro") Benchmark

            .navbar-collapse.collapse(id="navbar")
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#map" ng-hide='authenticated') Karte
                    li
                        a(href='#survey' ng-hide='authenticated') Fragebogen
                    li
                        a(href='#paper', ng-hide='authenticated') Bericht
                    li
                        a(href='#/login', ng-hide='authenticated') Anmelden
                    li
                        a(href='#', onclick='guestAuth', ng-hide='authenticated') Gast
