header
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a.navbar-brand(href="#intro") Benchmark

            .navbar-collapse.collapse(id="navbar")
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#intro") Intro
                    li
                        a(href="#map") Karte
                    li
                        a(href="#survey") Fragebogen
                    li
                        a(href="#paper") Bericht
