section.intro
    .container-fluid
        .hero(id="intro")
            .description
                h1 Benchmark
                hr
                p Benchmarking deutscher Rechenzentren hinsichtlich Kriterien der Green IT



