section.intro
    .container-fluid
        a(id="intro")
        .hero
            .description
                h1 Benchmark
                hr
                p Benchmarking deutscher Rechenzentren hinsichtlich Kriterien der Green IT



