section#paper
    .container
        .heading.text-center.center-block
            h1#paper Bericht
            hr
            p Zusammenfassender Bericht zum Forschungsprojekt

        .embed-responsive-16by9
            .embed-responsive-item.issuuembed.center-block(data-configid="5010721/11690476" style="height: 75vh")