html
    body
        section#survey
            .container
                .heading.text-center.center-block
                    h1#survey Fragebogen
                    hr
                    p
                        | Fragebogen beinhaltet alle für ein Audit relevanten Themen. Diese sind nach ökologischen Aspekten
                        | gewichtet.
                .survey
                    form(action='', method='post')
                        paper-tabs(layout='', vertical='', selected='0')
                            paper-tab
                                core-icon(icon='assignment')
                                | Allgemeine Daten
                            paper-tab
                                core-icon(icon='image:filter-9-plus')
                                | Zertifizierungen
                            paper-tab
                                core-icon(icon='image:flash-on')
                                | Stromversorgung
                            paper-tab
                                core-icon(icon='image:flare')
                                | Klimatisierung
                            paper-tab
                                core-icon(icon='settings')
                                | Infrastruktur
                        core-label
                            h3#general_info Allgemeine Angaben
                        paper-input-decorator(floatinglabel='', label='Name des Unternehmens')
                            input#company_name(is='core-input', name='company_name')
                        paper-input-decorator(floatinglabel='', label='Standort des Rechenzentrums/der Rechenzentren')
                            input#datacenter_location(is='core-input', name='datacenter_location')
                        paper-input-decorator(floatinglabel='', label='Anzahl der Serverräume')
                            input#serverrooms(is='core-input', type='number', name='serverrooms', preventinvalidinput='')
                        paper-input-decorator(floatinglabel='', label='Anzahl der Server in einem Serverraum')
                            input#servers_in_serverroom(is='core-input', type='number', name='servers_in_serverroom', preventinvalidinput='')
                        paper-input-decorator(floatinglabel='', label='Höhe des monatlichen Traffics des Rechenzentrums')
                            input#datacenter_traffic(is='core-input', name='datacenter_traffic')
                        paper-input-decorator(floatinglabel='', label='Höhe des monatlichen Traffics eines Servers')
                            input#server_traffic(is='core-input', name='server_traffic')
                        core-label
                            h3#certification Angaben zu Zertifizierungen
                        paper-input-decorator(label='Haben Sie bereits eine, mehrere oder keine der folgenden Zertifizierungen?')
                            input(is='core-input')
                        ul
                            li
                                core-label
                                    paper-checkbox#checkbox_blauer_engel(name='checkbox_blauer_engel')
                                    |                             Blauer Engel
                            li
                                core-label
                                    paper-checkbox#checkbox_emas(name='checkbox_emas')
                                    |                             EMAS
                            li
                                core-label
                                    paper-checkbox#checkbox_iso14001(name='checkbox_iso14001')
                                    |                             ISO 14001
                            li
                                core-label
                                    paper-checkbox#checkbox_iso50001(name='checkbox_iso50001')
                                    |                             ISO 50001
                            li
                                core-label
                                    paper-checkbox#checkbox_dcsa(name='checkbox_dcsa')
                                    |                             Datacenter Star Audit (DCSA)
                            li
                                core-label
                                    paper-checkbox#checkbox_keine(name='checkbox_keine')
                                    |                             Keine Zertifizierung
                            li
                                core-label
                                    paper-checkbox#checkbox_sonstige(name='checkbox_sonstige')
                                    |                             Sonstige Zertifizierung
                        paper-input-decorator(floatinglabel='', label='Sonstige Zertifizierung')
                            input#sonstige(is='core-input', name='sonstige')
                        core-label
                            h3#power Angaben zur Stromversorgung
                        paper-input-decorator(label='Welchen Stromanbieter nutzen Sie?')
                            input(is='core-input')
                        ul
                            li
                                core-label
                                    paper-checkbox#checkbox_rwe(name='checkbox_rwe')
                                    |                             RWE AG
                            li
                                core-label
                                    paper-checkbox#checkbox_enbw(name='checkbox_enbw')
                                    |                             EnBW AG
                            li
                                core-label
                                    paper-checkbox#checkbox_eon(name='checkbox_eon')
                                    |                             E.ON AG
                            li
                                core-label
                                    paper-checkbox#checkbox_vattenfall(name='checkbox_vattenfall')
                                    |                             Vattenfall Europe AG
                            li
                                core-label
                                    paper-checkbox#checkbox_ewe(name='checkbox_ewe')
                                    |                             EWE AG
                            li
                                core-label
                                    paper-checkbox#checkbox_rheinenergie(name='checkbox_rheinenergie')
                                    |                             RheinEnergie AG
                            li
                                core-label
                                    paper-checkbox#checkbox_mvv(name='checkbox_mvv')
                                    |                             MVV Energie AG
                            li
                                core-label
                                    paper-checkbox#checkbox_nenergie(name='checkbox_nenergie')
                                    |                             N-Energie AG
                            li
                                core-label
                                    paper-checkbox#checkbox_pfalzwerke(name='checkbox_pfalzwerke')
                                    |                             Pfalzwerke AG
                            li
                                core-label
                                    paper-checkbox#checkbox_stadtwerke(name='checkbox_stadtwerke')
                                    |                             Stadtwerke
                            li
                                core-label
                                    paper-checkbox#checkbox_eigenversorgung(name='checkbox_eigenversorgung')
                                    |                             Eigene Energiegewinnung
                            li
                                core-label
                                    paper-checkbox#checkbox_sonstiger_energieanbieter(name='checkbox_sonstiger_energieanbieter')
                                    |                             Sonstiger Energieanbieter
                        paper-input-decorator(floatinglabel='', label='Sonstiger Energieanbieter')
                            input#sonstiger_energieanbieter(is='core-input', name='sonstiger_energieanbieter')
                        paper-input-decorator(floatinglabel='', label='Welchen Tarif nutzen Sie bei ihrem Anbieter?')
                            input#tarif(is='core-input', name='tarif')
                        paper-input-decorator(label='Ist der Gesamtstromverbrauch des Rechenzentrums bekannt?')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_stromverbrauch_ja(name='checkbox_stromverbrauch_ja')
                            |                     Ja
                        core-label
                            paper-checkbox#checkbox_stromverbrauch_nein(name='checkbox_stromverbrauch_nein')
                            |                     Nein
                        paper-input-decorator(floatinglabel='', label='Wenn ja, wie hoch ist der Gesamtstromverbrauch des Rechenzentrums?')
                            input#gesamtstromverbrauch(is='core-input', name='gesamtstromverbrauch')
                        paper-input-decorator(label='Ist der Gesamtstromverbrauch der Klimatisierung bekannt?')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_stromverbrauch_klimatisierung_ja(name='checkbox_stromverbrauch_klimatisierung_ja')
                            |                     Ja
                        core-label
                            paper-checkbox#checkbox_stromverbrauch_klimatisierung_nein(name='checkbox_stromverbrauch_klimatisierung_nein')
                            |                     Nein
                        paper-input-decorator(floatinglabel='', label='Wenn ja, wie hoch ist der Gesamtstromverbrauch der Klimatisierung?')
                            input#gesamtstromverbrauch_klimatisierung(is='core-input', name='gesamtstromverbrauch_klimatisierung')
                        paper-input-decorator(floatinglabel='', label='Welche Leistung hat die USV?')
                            input#usv(is='core-input', name='usv')
                        paper-input-decorator(label='Werden Stromspartechnologien eingesetzt?')
                            input(is='core-input')
                        ul
                            li
                                core-label
                                    paper-checkbox#checkbox_dynamische_sst(name='checkbox_dynamische_sst')
                                    |                             Dynamische Stromspartechnologien, die die Frequenz und Spannung der Prozessoren abhängig von der Auslastung automatisch regeln
                            li
                                core-label
                                    paper-checkbox#checkbox_energiesparmodus(name='checkbox_energiesparmodus')
                                    |                             Schalten sich die Server selbstständig in einen Energiesparmodus?
                            li
                                core-label
                                    paper-checkbox#checkbox_sonstige_sst(name='checkbox_sonstige_sst')
                                    |                             Sonstige
                        paper-input-decorator(floatinglabel='', label='Sonstige Stromspartechnologien')
                            input#sonstige_stromspartechnologien(is='core-input', name='sonstige_stromspartechnologien')
                        core-label
                            h3#cooling Angaben zur Klimatisierung
                        paper-input-decorator(label='Welches Klimasystem wird verwendet? (Mehrfachnennungen möglich)')
                            input(is='core-input')
                        ul
                            li
                                core-label
                                    paper-checkbox#checkbox_zentrale_klimaanlage(name='checkbox_zentrale_klimaanlage')
                                    |                             Klimatisierung über zentrale Klimaanlage
                            li
                                core-label
                                    paper-checkbox(id='checkbox_eigenständige_klimaanlage', name='checkbox_eigenständige_klimaanlage')
                                    |                             Eigenständige Klimaanlage
                            li
                                core-label
                                    paper-checkbox#checkbox_umluftklimaschrank(name='checkbox_umluftklimaschrank')
                                    |                             Umluftklimaschrank im Raum
                            li
                                core-label
                                    paper-checkbox#checkbox_umluftklimaschrank_seperat(name='checkbox_umluftklimaschrank_seperat')
                                    |                             Umluftklimaschrank in seperatem Raum
                            li
                                core-label
                                    paper-checkbox(id='checkbox_umluftklimaschrank_außenluftanteil', name='checkbox_umluftklimaschrank_außenluftanteil')
                                    |                             Umluftklimaschrank mit Außenluftanteil
                            li
                                core-label
                                    paper-checkbox(id='checkbox_splitklimageräte', name='checkbox_splitklimageräte')
                                    |                             Splitklimageräte
                            li
                                core-label
                                    paper-checkbox(id='checkbox_multisplitgeräte', name='checkbox_multisplitgeräte')
                                    |                             Multisplitgeräte
                            li
                                core-label
                                    paper-checkbox(id='checkbox_klimaanlage_außenluftanschluss', name='checkbox_klimaanlage_außenluftanschluss')
                                    |                             Klimaanlage mit direktem Außenluftanschluss
                            li
                                core-label
                                    paper-checkbox(id='checkbox_außenluftanteil_rlt_anlage', name='checkbox_außenluftanteil_rlt_anlage')
                                    |                             Außenluftanteil über seperate RLT-Anlage
                            li
                                core-label
                                    paper-checkbox(id='checkbox_wassergekühlt', name='checkbox_wassergekühlt')
                                    |                             Wassergekühlte Racks
                            li
                                core-label
                                    paper-checkbox#checkbox_sonstiges_klimasystem(name='checkbox_sonstiges_klimasystem')
                                    |                             Sonstiges:
                        paper-input-decorator(floatinglabel='', label='Sonstige Klimasysteme')
                            input#sonstige_klimasysteme(is='core-input', name='sonstige_klimasysteme')
                        paper-input-decorator(floatinglabel='', label='Installierte Kälteleistung im Raum ohne Redundanz')
                            input(is='core-input', id='kälteleistung_ohne_redundanz', name='kälteleistung_ohne_redundanz')
                        paper-input-decorator(floatinglabel='', label='Installierte Kälteleistung im Raum mit Redundanz')
                            input(is='core-input', id='kälteleistung_mit_redundanz', name='kälteleistung_mit_redundanz')
                        paper-input-decorator(label='Werden nicht benötigte Klimaanlagen ausgeschalten?')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_klimaanlagen_ausschalten_ja(name='checkbox_klimaanlagen_ausschalten_ja')
                            |                     Ja
                        core-label
                            paper-checkbox#checkbox_klimaanlagen_ausschalten_nein(name='checkbox_klimaanlagen_ausschalten_nein')
                            |                     Nein
                        paper-input-decorator(label='Werden nicht benötigte Klimaanlagen bewusst nicht ausgeschalten, da ein gemeinsamer Betrieb aller Anlagen energieeffizienter ist?')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_klimaanlagen_ja(name='checkbox_klimaanlagen_ja')
                            |                     Ja
                        core-label
                            paper-checkbox#checkbox_klimaanlagen_nein(name='checkbox_klimaanlagen_nein')
                            |                     Nein
                        paper-input-decorator(label='Eingesetzte Kühlmedien')
                            input(is='core-input')
                        ul
                            li
                                core-label
                                    paper-checkbox#checkbox_wasser(name='checkbox_wasser')
                                    |                             Wasser
                            li
                                core-label
                                    paper-checkbox#checkbox_wasser_glykol(name='checkbox_wasser_glykol')
                                    |                             Wasser/Glykol Gemisch
                            li
                                core-label
                                    paper-checkbox(id='checkbox_kältemittel', name='checkbox_kältemittel')
                                    |                             Kältemittel (bitte unter dem Punkt Sonstige Kühlmedien angeben)
                        paper-input-decorator(floatinglabel='', label='Sonstige Kühlmedien')
                            input(is='core-input', id='sonstige_kühlmedien', name='sonstige_kühlmedien')
                        paper-input-decorator(label='Wird entstehende Abwärme genutzt?')
                            input(is='core-input')
                        core-label
                            paper-checkbox(id='checkbox_abwärme_ja', name='checkbox_abwärme_ja')
                            |                     Ja
                        core-label
                            paper-checkbox(id='checkbox_abwärme_nein', name='checkbox_abwärme_nein')
                            |                     Nein
                        paper-input-decorator(floatinglabel='', label='Wenn ja, wo wird die zurückgewonnene Abwärme eingesetzt?')
                            input(is='core-input', id='abwärme', name='abwärme')
                        paper-input-decorator(label='Wird das Kalt-Warmgang-Prinzip eingehalten?')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_kaltwarmgang_ja(name='checkbox_kaltwarmgang_ja')
                            |                     Ja
                        core-label
                            paper-checkbox#checkbox_kaltwarmgang_nein(name='checkbox_kaltwarmgang_nein')
                            |                     Nein
                        paper-input-decorator(label='Sind Hot Spots/Wärmenester in den Racks vorhanden?')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_hotspots_ja(name='checkbox_hotspots_ja')
                            |                     Ja
                        core-label
                            paper-checkbox#checkbox_hotspots_nein(name='checkbox_hotspots_nein')
                            |                     Nein
                        core-label
                            paper-checkbox#checkbox_hotspots_teilweise(name='checkbox_hotspots_teilweise')
                            |                     Teilweise
                        paper-input-decorator(label='Bestehen Hindernisse in der Zuluftführung? (z.B. Kabeltrassen im Doppelboden, Rohrleitungen, etc.)')
                            input(is='core-input')
                        core-label
                            paper-checkbox(id='checkbox_zuluftführung_ja', name='checkbox_zuluftführung_ja')
                            |                     Ja
                        core-label
                            paper-checkbox(id='checkbox_zuluftführung_nein', name='checkbox_zuluftführung_nein')
                            |                     Nein
                        paper-input-decorator(label='Bestehen Hindernisse in der Abluftführung? (z.B. Kanäle, Unterzüge, Leuchten, etc.)')
                            input(is='core-input')
                        core-label
                            paper-checkbox(id='checkbox_abluftführung_ja', name='checkbox_abluftführung_ja')
                            |                     Ja
                        core-label
                            paper-checkbox(id='checkbox_abluftführung_nein', name='checkbox_abluftführung_nein')
                            |                     Nein
                        core-label
                            h3#infrastructure Infrastruktur/Rackausführung
                        paper-input-decorator(label='Bereitstellungsverfahren der Anwendungen')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_dezentral(name='checkbox_dezentral')
                            |                     Dezentral (PC-Systeme, Notebooks)
                        core-label
                            paper-checkbox#checkbox_zentral(name='checkbox_zentral')
                            |                     Zentral (Terminalserver, Virtuell, Web)
                        paper-input-decorator(label='Wird Storagevirtualisierung eingesetzt?')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_storagevirtualisierung_ja(name='checkbox_storagevirtualisierung_ja')
                            |                     Ja
                        core-label
                            paper-checkbox#checkbox_storagevirtualisierung_nein(name='checkbox_storagevirtualisierung_nein')
                            |                     Nein
                        paper-input-decorator(label='Wird Servervirtualisierung eingesetzt?')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_servervirtualisierung_ja(name='checkbox_servervirtualisierung_ja')
                            |                     Ja
                        core-label
                            paper-checkbox#checkbox_servervirtualisierung_nein(name='checkbox_servervirtualisierung_nein')
                            |                     Nein
                        paper-input-decorator(label='Ist ein System Management Tool vorhanden, das sich zur Realisierung von Energieeinsparpotenzialen eignet?')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_systemmgmttool_ja(name='checkbox_systemmgmttool_ja')
                            |                     Ja
                        core-label
                            paper-checkbox#checkbox_systemmgmttool_nein(name='checkbox_systemmgmttool_nein')
                            |                     Nein
                        paper-input-decorator(label='Wird ein Netzwerk Management Tool verwendet, das sich zur Realisierung von Energieeinsparpotenzialen eignet?')
                            input(is='core-input')
                        core-label
                            paper-checkbox#checkbox_netzwerkmgmttool_ja(name='checkbox_netzwerkmgmttool_ja')
                            |                     Ja
                        core-label
                            paper-checkbox#checkbox_netzwerkmgmttool_nein(name='checkbox_netzwerkmgmttool_nein')
                            |                     Nein
