section.survey
    .container
        .heading.text-center.center-block
            h1(id="survey") Fragebogen
            hr
            p Fragebogen beinhaltet alle für ein Audit relavanten Themen. Diese sind nach ökologischen Aspekten gewichtet.